.pencil-grid {
  @extend %absolute-zero;
  @extend %w-100;
  @extend %h-100;
  font-size: 0;
  line-height: 0;
}

.pencil-grid-cell {
  position: relative;
  width: 33.3333%;
  height: 33.3333%;
  display: inline-block;
}

.pencil-grid-cell svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 120%;
  transform: translate(-50%, -50%) scale(.45);
  -webkit-transform: translate(-50%, -50%) scale(.45);
}