// display

// position

// margin padding

// alignment

// colors

// fonts

body {
  display: flex;
  flex-direction: column;
  margin: 0; // 1
  text-align: left; // 3
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  background-color: $body-bg; // 2
  color: $text-color;
}

// borders
.border-right-2px {
  border-right: 2px solid $default-text-color !important;
}

.border-bottom-2px {
  border-bottom: 2px solid $default-text-color !important;
}

.border-right-none {
  border-right: none !important;
}
