@mixin resizable($direction) {
  overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
  resize: $direction; // Options: horizontal, vertical, both
}

@mixin content-wrapper-mixin($padding) {
  padding-left: unquote('max(#{$padding}, env(safe-area-inset-left))');
  padding-right: unquote('max(#{$padding}, env(safe-area-inset-right))');
}

// media mixins
@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mobile-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}
